---
import NavItem from "./NavItem.astro";
---

<div class="nav-links">
    <NavItem link="/" name="Home" />
    <NavItem link="/about/" name="About" />
    <NavItem link="/blog/" name="Blog" />
    <NavItem link="/tutorial-4-index" name="Tutorial 4 Index" />
    <NavItem link="/tags/" name="Tags" />
</div>
